<div class="image-container">
    <img src="https://elessi2.myshopify.com/cdn/shop/files/slider01_1950x.jpg?v=1614392000" alt="" width="100%"
        height="100%">
    <div class="overlay-text">Center Div Ecomerce Store<br><button class="shop-btn">Shop Now&nbsp;<i
                class="fa-solid fa-cart-shopping"></i></button> </div>
</div>
<div class="row mt-4">
    <!-- For Her section -->
    <div class="col-5">
        <img src="https://elessi2.myshopify.com/cdn/shop/files/h2-banner3_1080x.jpg?v=1614392001" alt="" width="100%"
            height="100%" ><!-- style="object-fit: contain;" -->
    </div>
    <div class="col-7">
        <h5 class="heading">For Her</h5>
        <hr>
        <div class="row">
            <div class="col-6" *ngFor="let prod of productList">

                <!-- card for product -->
                <div class="container">
                    <div class="card">
                        <div class="card-head  ">
                            <!-- <div class="product-icon-container ">
                                <i class="fa-regular fa-heart product-icon"></i><br>
                                <i class="fa-regular fa-bookmark product-icon"></i><br>
                                <i class="fa-solid fa-eye product-icon"></i>
                            </div> -->

                            <!-- <img src="../../../../assets/ecomerce_img/logo.png" alt="logo" class="card-logo"> -->
                            <img src="../../../../assets/ecomerce_img/dress1.png" alt="Shoe" class="product-img">
                            <!-- <div class="product-detail">
                                <h2>Dress Name</h2> Support and Nike Zoom Air come together for a more supportive
                                feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                <!-- Product Name -->
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="product-desc">
                                <span class="product-title">
                                    Hartbee<b>spoort</b>
                                    <span class="badge">
                                        New
                                    </span>
                                </span>
                                <span class="product-caption">
                                    Basket Ball Collection
                                </span>
                                <span class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey"></i>
                                </span>
                            </div>
                            <div class="product-properties">
                                <span class="product-size">
                                    <h6>Size</h6>
                                    <ul class="ul-size">
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#" class="active">10</a></li>
                                        <li><a href="#">11</a></li>
                                    </ul>
                                </span>
                                <span class="product-color">
                                    <h4>Colour</h4>
                                    <ul class="ul-color">
                                        <li><a href="#" class="orange active"></a></li>
                                        <li><a href="#" class="green"></a></li>
                                        <li><a href="#" class="yellow"></a></li>
                                    </ul>
                                </span>
                                <span class="product-price">
                                    &#8377;<b>23,453</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="yt">
                    <a href="https://www.youtube.com/watch?v=jYAmKNOJ4Ck" target="_blank">
                        <!-- <img width="151" src="https://s5.postimg.cc/vzwuxmw87/template.png" alt="" /> -->
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>